@page "/"
@using System.IO;
@using System.Threading
@using System.Net.Http.Headers

@inject HttpClient client

<h1>Please upload new file to the hosted server</h1>
<InputFile OnChange="@SendData" />
<div>
    <Virtualize Items="imageData" Context="data">        
        <img src="@data" width="200" />        
    </Virtualize>
</div>


@code {
    private List<string> imageData = new List<string>();

    private async Task SendData(InputFileChangeEventArgs eventArgs)
    {
        var file = eventArgs.File;

        var content = new MultipartFormDataContent();
        content.Headers.ContentDisposition = new ContentDispositionHeaderValue("form-data");
        content.Add(new StreamContent(file.OpenReadStream(), Convert.ToInt32(file.Size)), "file", file.Name);
        await client.PostAsync("Images", content);
        await LoadImage(file);
    }

    async Task LoadImage(IBrowserFile file)
    {
        long maxFileSize = 1024 * 1024 * 15;
        using var fileStream = file.OpenReadStream(maxFileSize);
        using var memoryStream = new MemoryStream();
        await fileStream.CopyToAsync(memoryStream);
        imageData.Add($"data:png;base64,{Convert.ToBase64String(memoryStream.ToArray())}");
    }
}
